*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    color: #f8668a;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.carousel-inner img {
    width: 100%; /* Image takes full width of carousel item */
    height: auto; /* Auto height to maintain aspect ratio */
    object-fit: cover; /* Ensure image covers the area while maintaining aspect ratio */
}

.carousel-item {
    height: 600px; /* Height of the carousel item */
    overflow: hidden; /* Hide overflow to ensure clean edges */
}

.carousel-caption {
    position: absolute;
    top: 0; /* Aligns caption to the top */
    left: 0;
    right: 0;
    bottom: auto; /* Removes bottom alignment */
    padding-top: 10px; /* Adjust padding as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
}
/* Styling the main container */
.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Styling the bubble container */
.bubble {
    background-color: #f8f9fa; /* Light grey background */
    border-radius: 20px;
    position: relative;
    max-width: 600px;
}

    /* Adding the tail of the bubble */
    .bubble::before {
        content: '';
        position: absolute;
        bottom: -20px; /* Adjust based on bubble height */
        left: 50px; /* Adjust position from the left */
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #f8f9fa;
    }

/* Styling the title inside the bubble */
.bubble-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #334464; /* Dark blue color */
}

/* Styling the text inside the bubble */
.bubble-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}
