@inject SignInManager<FlexForgeApplicationUser> SignInManager
@inject UserManager<FlexForgeApplicationUser> UserManager
@model FlexForge.Domain.Domain.Product
@{
    Layout = null;
}

@Html.Partial("~/Views/Fragments/ProductDetails.cshtml")

<!-- Custom Modal for Sign-In Alert -->
<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signInModalLabel">Sign In Required</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You need to be signed in to add products to your favorites. Please sign in to continue.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="~/Identity/Account/Login" class="btn btn-primary">Sign In</a>
            </div>
        </div>
    </div>
</div>

