@{
    ViewData["Title"] = "Privacy Policy ";
}


<div class="main-about">
    <div class="container">
        <h1 class="display-4 title">About us</h1>
    </div>
</div>
<div class="about-us">
    <h1>About us</h1>
    <p>
        Welcome to Flex Forge, your ultimate destination for premium fitness gear and equipment. At Flex Forge, we believe that fitness is not just a hobby—it's a lifestyle. Our mission is to empower you to achieve your fitness goals by providing top-quality products, expert advice, and exceptional customer service.

        Founded by fitness enthusiasts, we understand the importance of having the right tools to support your journey. Whether you're setting up your home gym, upgrading your workout wardrobe, or looking for the latest supplements, we've got you covered. We carefully curate our selection to ensure that every product meets the highest standards of performance, durability, and style.

        Our team is passionate about fitness and dedicated to helping you find exactly what you need to succeed. From beginners to seasoned athletes, we're here to guide you every step of the way. We pride ourselves on offering personalized service, expert knowledge, and a welcoming environment where everyone can thrive.

        At Flex Forge, we don't just sell products—we build relationships. Join our community of fitness lovers and take the next step toward a healthier, stronger, and more confident you.

        Thank you for choosing Flex Forge as your partner in fitness. Let's get stronger together!

    </p>
</div>
