@model FlexForge.Domain.ViewModel.AdminViewModel
@using FlexForge.Domain.Enum
@{
    ViewData["Title"] = "Admin";
}
<style>
.container-fluid {
  margin-top: 20px;
}

.nav-pills .nav-link {
  margin-bottom: 10px;
}
</style>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebars -->
        <div class="col-md-3">
            <ul class="nav flex-column nav-pills" id="sidebarMenu">
                <li class="nav-item">
                    <a class="nav-link active" id="add-product-tab" data-bs-toggle="pill" href="#add-product-content">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="categories-tab" data-bs-toggle="pill" href="#categories-content">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="subcategories-tab" data-bs-toggle="pill" href="#subcategories-content">Sub-Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="subcategories-tab" data-bs-toggle="pill" href="#import-content">Import Products</a>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            <div class="tab-content" id="contentArea">
                <div class="tab-pane fade show active" id="add-product-content">
                    <h2>Add Product</h2>

                    @Html.Partial("~/Views/Fragments/ProductCreate.cshtml")
                </div>
                <div class="tab-pane fade" id="categories-content">
                    @Html.Partial("~/Views/Category/Create.cshtml")
                </div>
                <div class="tab-pane fade" id="subcategories-content">
                    <!-- SubCategories Content -->
                    <h2>SubCategories</h2>
                    @Html.Partial("~/Views/SubCategory/Create.cshtml")                 
                </div>
                <div class="tab-pane fade" id="import-content">
                    <form asp-controller="Products" asp-action="ImportProducts" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="file" class="form-control" />
                        </div>
                        </hr>
                        <button type="submit" class="btn btn-success">Import Products</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
